~/* CSS for ReflectionAssistantXBlock */

form .likert {
    list-style:none;
    width:100%;
    margin:0;
    padding:0 0 35px;
    display:block;
    border-bottom:2px solid #efefef;
}

form .likert:last-of-type {
    border-bottom:0;
}

form .likert:before {
    content: '';
    position:relative;
    top:11px;
    left:16%;
    display:block;
    background-color:#efefef;
    height:4px;
    width:64%;
}

form .likert li {
    display:inline-block;
    width:32%;
    text-align:center;
    vertical-align: top;
}

form .likert li input[type=radio] {
    display:block;
    position:relative;
    top:0;
    left:50%;
    margin-left:-6px;

}

form .likert li label {
    width:100%;
}

.alert-message icon {
    padding:0px 0.5rem;
}

.alert.alert-slim,.alert.alert-slim .alert-message {
    padding:0.5rem;
}

legend.hd-4 {
    margin-top:1.75rem;
    margin-bottom:1.75rem;
}

.strategies {
    margin-left:3rem;
}

.strategies div.field {
    margin-bottom:0.5rem;
}

/*.strategies .input-text {
    width:30rem;
}*/
